---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <div id="label">
            <a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%-Y-%m-%d" }}   {{ post.title }}</a>
        </div>
        <div class="content">
            {{ post.excerpt }}
            <a href="{{ site.baseurl}}{{ post.url }}"><span class="whole_content btn btn-default">>>>> 阅读全文</span></a>
        </div>
    </div>
</div>
{% endfor %}
<div class="pagination">
    {% if paginator.previous_page %}
        <a class="btn btn-default"
           {% if paginator.previous_page == 1 %}
               href="/"
           {% else %}
               href="/page{{ paginator.previous_page }}"
           {% endif %}
               class="previous">Previous</a>
    {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a class="btn btn-default" href="/page{{ paginator.next_page }}" class="next">Next</a>
    {% endif %}

