{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            <div class="article">
                <div class="well">
                    <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
                    <p>更新时间:{{ page.date }}</p>
                    <div class="post-content">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="pagination">
                {% if page.next %}
                <a  href="{{ site.baseurl}}{{ page.next.url }}" class="next">上一篇: {{page.next.title}}</a>
                {% endif %}
                {% if page.previous %}
                <a  href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">下一篇: {{page.previous.title}}</a>
                {% endif %}
            </div>
            <div>
                <p>相关文章：</p>
                {% if page.tag %}
                {% for post in site.posts %}
                {% if post.tag == page.tag %}
                {% if post.url != page.url %}
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</p>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
            </div>
            {% include share.html %}
            {% include duoshuo.html %}
        </div>
    </div>
</div>
</div>
<aside>
</aside>
{% include footer.html %}
